<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sistemas Dinamicos Discretos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/mathjs@8.1.0/lib/browser/math.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/nerdamer.core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Algebra.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Calculus.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Solve.js"></script>

</head>

<body onload="init()">
  <!-- <body> -->
  <header class="align-items-center container-lg mx p-5 text-center">
    <h1>Representación de sistemas discretos bidimensionales</h1>
  </header>
  <div class="container-fluid">
    <form class="row min-vh-100 flex-column flex-md-row" method="POST">
      <aside class="col-12 col-md-3 col-xl-2 p-0 bg-light px-3 flex-shrink-1 p-2">
        <div class="seccion">Valores</div>
        <div class="row p-2">
          <label class="col-md" for="vars">Iteraciones (n)</label>
          <input class="col-sm-4" style="text-align: right" type="text" id="n" name="n" value="{{n}}" />
        </div>
        <div class="row p-2">
          <label class="col-md" for="vars">Iteraciones finales (0 si no hay final)</label>
          <input class="col-sm-4" style="text-align: right" type="text" id="m" name="m" value="{{m}}" />
        </div>
        <div class="seccion">Parámetros</div>
        <div class="row p-2">
          <label class="col-md" for="vars">X<sub>0</sub></label>
          <input class="col-sm-4" style="text-align: right" type="text" id="x0" name="x0" value="{{x0}}" />
        </div>
        <div class="row p-2">
          <label class="col-md" for="vars">Y<sub>0</sub></label>
          <input class="col-sm-4" style="text-align: right" type="text" id="y0" name="y0" value="{{y0}}" />
        </div>

      </aside>

      <main id="content" class="col px-0 flex-grow-1">
        <div class="container-fluid">
          <div class="p-3">
            <div id="input_data" class="row justify-content-between container p-3">
              <div class="row col-7 p-2">
                <label for="eq">Introduce la ecuación</label>
                 <input text="text" id="eq" name="eq" value="{{f}} , {{g}}" placeholder="f1(x,y),f2(x,y)" /> 
              </div>

              <div class="col-5 justify-content-end mt-4">
                <input class="btn btn-primary" id="go_button" type="submit" value="Go!" />
              </div>
            </div>
          </div>

          <div class="row min-vh-80 flex-column flex-md-row mt-2 container-fluid">
            <main class="col px-0 flex-grow-1">
              <div class="flex-grow-1 p-3">
                <label>Visualización de las orbitas de f(x,y)</label>
                <div id="plot" class="flex-grow-2"></div>
              </div>
              <div class="mt-5 flex-grow-1 p-3">
                <div id="plot2" class="flex-grow-2"></div>
              </div>
            </main>

            <aside class="col-12 col-md-5 col-xl-3 bg-light p-2">
              <div class="row p-2">
                <label class="align-top col-md">Puntos fijos</label>
                <ul class="col-sm-8">
                  {% for punto_fijo in puntos_fijos %}
                  <li>{{ punto_fijo}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="row p-2">
                <label class="align-top col-md">Estabilidad</label>
                <ul class="col-sm-8">
                  {% for punto in estabilidad_puntos %}
                  <li>El punto {{punto[0]}} tiene estabilidad: {{punto[1]}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="row p-2">
                <label class="align-top col-md">Datos de Lyapunov</label>
                <ul class="col-sm-8">

                </ul>
              </div>
            </aside>
          </div>
        </div>
      </main>
    </form>
  </div>
</body>

</html>