<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sistemas Dinamicos Discretos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/mathjs@8.1.0/lib/browser/math.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/nerdamer.core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Algebra.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Calculus.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nerdamer@latest/Solve.js"></script>
  <script scr="http://github.com/cowboy/jquery-dotimeout/raw/v1.0/jquery.ba-dotimeout.min.js"></script>

</head>

<body onload="init()">
  <!-- <body> -->
  <header class="align-items-center container-lg mx p-2 text-center border-bottom py-2">
    <img class="w-50 img-fluid" src="{{url_for('static', filename='logo-ETSII-US-Horizontal-Color.png')}}"
      alt="Universidad de Sevilla">
    <h3>Representación de sistemas discretos bidimensionales</h1>
  </header>
  <div class="container-fluid">
    <form class="row min-vh-100 flex-column flex-md-row" method="POST">
      <aside class="col-12 col-md-3 col-xl-2 p-0 bg-light px-3 flex-shrink-1 p-2 border">
        <div class="border-bottom py-2">
          <div class="seccion">Valores</div>
          <div class="row p-2">
            <label class="col-md" for="vars">Iteraciones (n)</label>
            <input class="col-sm-4" style="text-align: right" type="number" id="n" name="n" value="{{n}}" />
          </div>
          <div class="row p-2">
            <label class="col-md" for="vars">Iteraciones finales (0 si no hay final)</label>
            <input class="col-sm-4" style="text-align: right" type="number" id="m" name="m" value="{{m}}" />
          </div>
        </div>
        <div class="border-top py-2">
          <div class="seccion">Parámetros</div>
          <div class="row p-2">
            <label class="col-md" for="x0">X<sub>0</sub></label>
            <input class="col-sm-4" style="text-align: right" type="number" id="x0" name="x0" value="{{x0}}" />
          </div>
          <div class="row p-2">
            <label class="col-md" for="y0">Y<sub>0</sub></label>
            <input class="col-sm-4" style="text-align: right" type="number" id="y0" name="y0" value="{{y0}}" />
          </div>
          <div id="params">

          </div>
        </div>

      </aside>

      <main id="content" class="col px-0 flex-grow-1">
        <div class="container-fluid" style="padding-right: 0px;">
          <div class="px-3">
            <div id="input_data" class="row justify-content-between container border rounded bg-light mt-2 p-3">
              <div class="row px-2">
                <label class="col-sm-2" for="input_type">Tipo de entrada</label>
                <div class="col-sm-2">
                  <label for="matrix_input">Matriz</label>
                  <input type="radio" id="matrix_input" name="option">
                </div>
                <div class="col-sm-2"> <label for="eq_input">Ecuaciones</label>
                  <input type="radio" id="eq_input" name="option" checked>
                </div>

              </div>
              <div id="input_type" class="row col-7 p-2">
                <label for="eq">Introduce la ecuación</label>
                <input text="text" id="eq" class="py-1" name="eq" onkeyup="find_params()" value="{{f}} , {{g}}"
                  placeholder="f1(x,y),f2(x,y)" />
              </div>

              <div class="col-5 d-flex justify-content-end mt-4 mb-2">
                <input class="btn btn-primary" id="go_button" type="button" value="Go!" />
              </div>
            </div>
          </div>

          <div class="row min-vh-80 flex-column flex-md-row mt-2 border rounded container-fluid plots">
            <main class="col px-0 flex-grow-1">
              <div class="flex-grow-1 p-3">
                <p>
                  Para estudiar los atractores de un mapa bidimensional usamos dos gráficos vistos en la Práctica 5.
                  Estos gráficos nos muestran las cuencas de atracción con opciones de ajustar la cantidad de valores
                  calculados y
                  de iteraciones finales.
                </p>
                <div id="plot_orb" class="flex-grow-2"></div>
                <div class="py-2">
                  <div id="plot_att" class="flex-grow-2"></div>
                </div>
              </div>
          </div>
      </main>

      <aside class="col-12 col-md-5 col-xl-3 p-2 border">
        <div id="output">
          <div class="row pl-2">
            <div class="row col-md">
              <label class="align-top col-md">Puntos fijos</label>
              <div class="col-3">

                <figure>
                  <img src="/static/question-mark-inside-a-circle.svg" class="align-top">
                  <figcaption>
                    Textito que aparece cuando pones encima del objeto ese feo
                  </figcaption>
                </figure>
              </div>
            </div>
            <ul id="fixed_points" class="col-md-8">
              {% for fixed_point in fixed_points %}
              <li>
                <ul>
                  <li>x: {{fixed_point[0]}}</li>
                  <li>y: {{fixed_point[1]}}</li>
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="row pl-2">
            <div class="row col-md">
              <label class="align-top col-md">Estabilidad</label>
              <div class="col-3">

                <figure>
                  <img src="/static/question-mark-inside-a-circle.svg" class="align-top">
                  <figcaption>
                    Textito que aparece cuando pones encima del objeto ese feo
                  </figcaption>
                </figure>
              </div>
            </div>
            <ul class="col-sm-8">
              {% for point in stability %}
              <li>El punto ({{point[0][0]}},{{point[0][1]}}) tiene estabilidad: {{point[1]}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="row pl-2">
            <div class="row col-md">
              <label class="align-top col-md">Matriz Jacobiana</label>
              <div class="col-3">
                <figure>
                  <img src="/static/question-mark-inside-a-circle.svg" class="align-top">
                  <figcaption>
                    Textito que aparece cuando pones encima del objeto ese feo
                  </figcaption>
                </figure>
              </div>
            </div>
            <ul class="col-sm-8">
              {{j}}
            </ul>
          </div>
          <div class="row pl-2">
            <div class="row col-md">
              <label class="align-top col-md">Autovalores</label>
              <div class="col-3">

                <figure>
                  <img src="/static/question-mark-inside-a-circle.svg" class="align-top">
                  <figcaption>
                    Textito que aparece cuando pones encima del objeto ese feo
                  </figcaption>
                </figure>
              </div>
            </div>
            <ul id="eigen_vals" class="col-sm-8">
              {% for i in range(eigen_values|length) %}
              <li>&lambda;<sub>{{i}}</sub>: {{eigen_values[i]}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="row pl-2">
            <div class="row col-md">
              <label class="align-top col-md">Exponentes de Lyapunov </label>
              <div class="col-3">

                <figure>
                  <img src="/static/question-mark-inside-a-circle.svg" class="align-top">
                  <figcaption>
                    Textito que aparece cuando pones encima del objeto ese feo
                  </figcaption>
                </figure>
              </div>
            </div>
            <ul class="col-sm-8">
              <li>L<sub>1</sub>: {{exp_l[0]}}</li>
              <li>L<sub>2</sub>: {{exp_l[1]}}</li>
            </ul>
          </div>
        </div>
      </aside>
      <script>
        $("#eq_input").click(function () {
          $("#input_type").html('<label for="eq">Introduce la ecuación</label><input text="text" class="py-1" id="eq" name="eq" onkeyup="find_params()" value="{{f}} , {{g}}" placeholder="f1(x,y),f2(x,y)"/>')
          stored_equation = document.getElementById("eq").value.split(",");
        })
        $("#matrix_input").click(function () {
          $("#input_type").html(`<label for="matrix" class="col-sm-4">Introduce la matriz</label>
          <div class="col-sm-3">
            {% for i in range(2) %}
              <div class="row">
              {% for j in range(2) %}
                <input class="col-sm-5" text="text" id="m_{{i}}{{j}}" name="matrix" value="{{A[i][j]}}" placeholder="x_{{i}}{{j}}">
              {% endfor %}
              </div>
            {% endfor %}
          </div>`)
        })
      </script>
  </div>
  </div>
  </main>
  </form>
  </div>
</body>

</html>