<div class="row p-2">
    <label class="align-top col-md">Puntos fijos</label>
    <ul id="fixed_points" class="col-md-8">
        {% for fixed_point in fixed_points %}
        <li>
            <ul>
                <li>x: {{fixed_point[0]}}</li>
                <li>y: {{fixed_point[1]}}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row p-2">
    <label class="align-top col-md">Estabilidad</label>
    <ul id="estabilidad" class="col-sm-8">
        {% for point in stability %}
        <li>El punto {{point[0]}} tiene estabilidad: {{point[1]}}</li>
        {% endfor %}
    </ul>
</div>
<div class="row p-2">
    <label class="align-top col-md-4">Matriz Jacobiana</label>
    <div class="col">
        {% for row in j %}
        <div class="row">
            {% for element in row %}
            <div class="col">{{element}}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row p-2">
    <label class="align-top col-md">Autovalores</label>
    <ul id="eigen_vals" class="col-sm-8">
        {% for i in range(eigen_values|length) %}
        <li>&lambda;<sub>{{i+1}}</sub>: {{eigen_values[i]}}</li>
        {% endfor %}
    </ul>
</div>
<div class="row p-2">
    <label class="align-top col-md">Exponentes de Lyapunov</label>
    <ul id="lyap_exp" class="col-sm-8">
        <li>L<sub>1</sub>: {{exp_l[0]}}</li>
        <li>L<sub>2</sub>: {{exp_l[1]}}</li>
    </ul>
</div>